body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* if you change the font-family, change it 
in the input & textarea placeholders too */

h1, h2, h3, h4, h5, h6 {
  margin-left: 5vw;
  margin-bottom: 5px;
}

.title-underline {
  height: 3px;
  width: 200px;
  background: black;
  margin-left: 5vw;
  margin-bottom: 30px;
}

form {
 display: flex;
 gap: 20px;
 flex-direction: column;
 width: 300px;
 margin-left: 5vw;
 margin-right: 5vw;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  height: 100px;
  border-radius: 4px;
  border: 1px solid black;
}

textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

#submit {
  height: 30px;
  width: auto;
  background-color: black;
  color: white;
  display: flex;
  padding: 2px 5px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

#submit p {
  margin-right: 5px;
}

footer {
  height: auto;
  width: 100%;
  background: black;
  color: white;
  padding: 5vw;
  margin-top: 30px;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

