/* if you change the font-family, change it 
in the input & textarea placeholders too */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  margin-left: 5vw;
  margin-bottom: 5px;
}

.title-underline {
  height: 3px;
  width: 200px;
  background: black;
  margin-left: 5vw;
  margin-bottom: 30px;
}

#brand-preview-container {
  display: flex;
  flex-direction: row;
  margin: 5vw;
  justify-content: space-between;
}

.brand-preview-images, .brand-images {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.brand-preview-images:hover {
  opacity: .7;
  cursor: pointer;
}

.brand-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.brand-images-container div {
  display:flex;
  width: 90vw;
  justify-content: space-between;
}

#ajure-brand {
  display: none;
}

#social-sleeve-brand {
  display: none;
}

#play-fair-brand {
  display: none;
}

#webpage-preview-container {
  display: flex;
  flex-direction: row;
  margin: 5vw;
  justify-content: space-between;
}

.webpage-preview-images {
  width: 28vw; 
  height: 200px;
  background: navy;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.webpage-preview-images:hover {
  background-color: black;
  cursor: pointer;
}

.coming-soon:hover {
  cursor: default;
}

.page-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
}

#careers-page {
  display: none;
}

#partnerships-page {
  display: none;
}

.webpage-images {
  width: 80vw;
}

.sewing-underline {
  background: white;
  margin: 0;
}

#sewing-panel {
  height: auto;
  width: 90vw;
  background: black;
  color: white;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}

#sewing-panel h2 {
  margin-top: 0;
  margin-left: 0;
}

#sewing-images-container {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

.sewing-images {
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: center -60px;
  border-radius: 4px;
}

.sewing-text {
  width: 26vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sewing-text a {
  color: white;
  text-decoration: none;
}

.sewing-text a:visited {
  color: white;
}

#sewing-ig-handle {
  display: flex;
  gap: 10px;
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 300px;
  margin-left: 5vw;
  margin-right: 5vw;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  height: 100px;
  border-radius: 4px;
  border: 1px solid black;
}

textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

#submit {
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  padding: 2px 5px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

#submit p {
  margin-right: 5px;
}

#submit:hover {
  cursor: pointer;
}

footer {
  height: auto;
  width: 100%;
  background: black;
  color: white;
  padding: 5vw;
  margin-top: 30px;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

